<!doctype cshtml>
<cshtml lang="zxx">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>About</title>

	<link rel="stylesheet" type="text/css" href="~/css/swiper.min.css">

	<link rel="stylesheet" type="text/css" href="~/css/style-starter.css">
	<link href="//fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,600&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="~/css/user-profile.css">
</head>

<body>
		<!-- header -->
		<header id="site-header" class="w3l-header fixed-top">
			<!--/nav-->
			<nav class="navbar navbar-expand-lg navbar-light fill px-lg-0 py-0 px-3">
				<div class="container">
					<h1>
						<a class="navbar-brand" asp-controller="Home" asp-action="Index">
							<img src="@(Url.Content("~/images/favicon.ico"))" alt="StarBugCinema logo"
								 style="width:24px; height:24px; vertical-align:middle; margin-right:8px;" />
							StarBugCinema
						</a>
					</h1>

					<button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
							data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
							aria-label="Toggle navigation">
						<!-- <span class="navbar-toggler-icon"></span> -->
						<span class="fa icon-expand fa-bars"></span>
						<span class="fa icon-close fa-times"></span>
					</button>

					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav ml-auto">
							<li class="nav-item active">
								<a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
							</li>

							<li class="nav-item">
								<a class="nav-link" asp-controller="Home" asp-action="Movies">Movies</a>
							</li>

							<li class="nav-item">
								<a class="nav-link" asp-controller="Home" asp-action="About">About</a>
							</li>

							<li class="nav-item">
								<a class="nav-link" asp-controller="Home" asp-action="Contact_Us">Contact</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" asp-controller="Home" asp-action="BookingHistory">History</a>
							</li>
						</ul>

						<!--/search-right-->
						<!--/search-right-->
						<div class="search-right">
							<a href="#search" class="btn search-hny mr-lg-3 mt-lg-0 mt-4" title="search">
								Search <span class="fa fa-search ml-3" aria-hidden="true"></span>
							</a>
							<!-- search popup -->
							<div id="search" class="pop-overlay">
								<div class="popup">
									<form action="#" method="post" class="search-box">
										<input type="search" placeholder="Search your Keyword" name="search"
											   required="required" autofocus="">
										<button type="submit" class="btn">
											<span class="fa fa-search"
												  aria-hidden="true"></span>
										</button>
									</form>
									<div class="browse-items">
										<h3 class="hny-title two mt-md-5 mt-4">Browse all:</h3>
										<ul class="search-items">
											<li><a asp-controller="Home" asp-action="Movies">Action</a></li>
											<li><a asp-controller="Home" asp-action="Movies">Drama</a></li>
											<li><a asp-controller="Home" asp-action="Movies">Family</a></li>
											<li><a asp-controller="Home" asp-action="Movies">Thriller</a></li>
											<li><a asp-controller="Home" asp-action="Movies">Commedy</a></li>
											<li><a asp-controller="Home" asp-action="Movies">Romantic</a></li>
											<li><a asp-controller="Home" asp-action="Movies">Tv-Series</a></li>
											<li><a asp-controller="Home" asp-action="Movies">Horror</a></li>
											<li><a asp-controller="Home" asp-action="Movies">Action</a></li>
											<li><a asp-controller="Home" asp-action="Movies">Drama</a></li>
											<li><a asp-controller="Home" asp-action="Movies">Family</a></li>
											<li><a asp-controller="Home" asp-action="Movies">Thriller</a></li>
											<li><a asp-controller="Home" asp-action="Movies">Commedy</a></li>
											<li><a asp-controller="Home" asp-action="Movies">Romantic</a></li>
											<li><a asp-controller="Home" asp-action="Movies">Tv-Series</a></li>
											<li><a asp-controller="Home" asp-action="Movies">Horror</a></li>
										</ul>
									</div>
								</div>
								<a class="close" href="#close">×</a>
							</div>
							<!-- /search popup -->
							<!--/search-right-->

						</div>

						<div class="Login_SignUp" id="login_section" style="font-size: 2rem; display: inline-block; position: relative; margin-left: 15px;">
							@if (User.Identity.IsAuthenticated)
							{
								<a class="nav-link" href="javascript:void(0)" id="userDropdown" style="padding: 0;">
									<i class="fa fa-user-circle-o"></i>
								</a>

								<div class="user-dropdown-content" id="myDropdown">
									<div class="dropdown-header">Xin chào, <b>@User.Identity.Name</b></div>
									<hr style="margin: 5px 0;" />
									<a href="javascript:void(0)" onclick="openProfileModal()">
										<i class="fa fa-user-o"></i> Thông tin cá nhân
									</a>
									<form asp-controller="Home" asp-action="Logout" method="post" id="logoutForm" style="display: block;">
										@Html.AntiForgeryToken()
										<button type="submit" class="btn-logout">
											<i class="fa fa-sign-out"></i> Đăng xuất
										</button>
									</form>
								</div>
							}
							else
							{
								<a class="nav-link" asp-controller="Home" asp-action="Sign_In" title="Login">
									<i class="fa fa-user-circle-o"></i>
								</a>
							}
						</div>

						<div id="profileModal" class="modal-custom">
							<div class="modal-content-custom">
								<span class="close-modal" onclick="closeProfileModal()">&times;</span>
								<h2 style="color: #df0e62; margin-bottom: 20px;">Thông tin cá nhân</h2>
								@Html.AntiForgeryToken()
								<div class="profile-info" style="text-align: left; font-size: 1rem;">
									<p><strong>Tên đăng nhập:</strong> <span>@User.Identity.Name</span></p>
									<p><strong>Email:</strong> <span>@User.Claims.FirstOrDefault(c => c.Type == System.Security.Claims.ClaimTypes.Email)?.Value</span></p>
									<hr style="margin: 20px 0;" />
									<h3 style="font-size: 1.2rem; margin-bottom: 15px;">Đổi mật khẩu</h3>
									<input type="password" placeholder="Mật khẩu cũ" id="old-pass" class="form-control-custom">
									<input type="password" placeholder="Mật khẩu mới" id="new-pass" class="form-control-custom">
									<button class="btn-save-pw" onclick="changePassword()">Cập nhật mật khẩu</button>
								</div>
							</div>
						</div>

					</div>
					<!-- toggle switch for light and dark theme -->
					<div class="mobile-position">
						<nav class="navigation">
							<div class="theme-switch-wrapper">
								<label class="theme-switch" for="checkbox">
									<input type="checkbox" id="checkbox">
									<div class="mode-container">
										<i class="gg-sun"></i>
										<i class="gg-moon"></i>
									</div>
								</label>
							</div>
						</nav>
					</div>
				</div>
			</nav>
		</header>
	<!--/breadcrumbs -->
	<div class="w3l-breadcrumbs">
		<nav id="breadcrumbs" class="breadcrumbs">
			<div class="container page-wrapper">
				<a asp-action="Index">Home</a> » <span class="breadcrumb_last" aria-current="page">About</span>
			</div>
		</nav>
	</div>
	<!-- /About-->
	<div class="w3l-ab-grids py-5">

		<div class="container py-lg-4">
			<div class="row ab-grids-sec align-items-center">
				<div class="col-lg-6 ab-right">
					<img class="img-fluid" src="~/images/banner1.jpg">
				</div>
				<div class="col-lg-6 ab-left pl-lg-4 mt-lg-0 mt-5">
					<h3 class="hny-title">StarBug Entertainment</h3>
						<p class="mt-3">
							<p>
								StarBugCinema is your ultimate destination for discovering and booking the latest movies.
								We bring together exciting blockbusters, comfortable viewing experiences, and an easy-to-use
								online ticket system to make every movie night unforgettable. From action-packed adventures
								to heartwarming family stories, StarBugCinema is dedicated to delivering entertainment for everyone.
							</p>
						</p>
				</div>
			</div>

		</div>
	</div>
	
	<!-- **************** -->
<!-- Image Slider for MEET US Section-->
<div class="swiper-container" style="background-color: var(--theme-bg);">
	<h1 id="swiper-container-h1">Meet Our Team</h1>
	<div class="swiper-wrapper">
		<div class="swiper-slide">
			<div class="imgBx">
						<img src="https://scontent.fhan14-3.fna.fbcdn.net/v/t39.30808-1/448103302_1199485934829459_1304722539168382957_n.jpg?stp=dst-jpg_s200x200_tt6&_nc_cat=110&ccb=1-7&_nc_sid=e99d92&_nc_ohc=WSImI5487AwQ7kNvwFZ2zBI&_nc_oc=Adqm9IqFL0UvSPiJTTU6x06Tej5fb_3sPQeO9sBHzjEdfq5K-ZQk1MI2JIinFQ_MDwU&_nc_zt=24&_nc_ht=scontent.fhan14-3.fna&_nc_gid=uRYKqbRHEERkyiQDA3JMZQ&_nc_ss=7b2a8&oh=00_Af4W-rjI_j9aWm2b3wAkwfUacemXNOo8wKhTjpNQKanU1g&oe=6A17BC1A" style="width :100%; height: 100%">
			</div>
			<div class="details">
				<h3 id="details-h3-1">Trần Đức Phúc<br></h3>
				<div class="p-sm">		
					<a href="https://www.facebook.com/tran.uc.phuc.910321/"><i class="fa fa-facebook"></i></a>
					<a href="https://github.com/tranphuc2005"><i class="fa fa-github"></i></a>
				</div>
			</div>
		</div>
		<div class="swiper-slide">
			<div class="imgBx">
				<img src="~/images/vinh.png" style="width :100%; height: 100%">
			</div>
			<div class="details">
				<h3 id="details-h3-2">Trần Quang Vinh<br></h3>
				<div class="p-sm">
					<a href="https://www.facebook.com/VinhTran0511/"><i class="fa fa-facebook"></i></a>
					<a href="https://github.com/tranphuc2005"><i class="fa fa-github"></i></a>
				</div>
			</div>
		</div>
		<div class="swiper-slide">
			<div class="imgBx">
						<img src="https://scontent.fhan14-4.fna.fbcdn.net/v/t39.30808-6/654160278_1426344445955963_3732395302578318733_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=HhIDVsP2xPYQ7kNvwEMSg7-&_nc_oc=AdrdCL0N0iLr8rfEyLQWyJsnglmvBhfDQB67WTk6FNePzdl8aATcGQ9dIUoC55WkBEE&_nc_zt=23&_nc_ht=scontent.fhan14-4.fna&_nc_gid=cRcL0S8M_dTGwbgj0KJxEA&_nc_ss=7b2a8&oh=00_Af7-W_6l0kZ9eH3GMNIZPyq5Liv8d7YnttSSOxBza-PBnQ&oe=6A179D70" style="width :100%; height: 100%">
			</div>
			<div class="details">
				<h3 id="details-h3-3">Nguyễn Trọng Thăng<br></h3>
				<div class="p-sm">
					<a href="https://www.facebook.com/thangrhino475/"><i class="fa fa-facebook"></i></a>
					<a href="https://github.com/julytrongthang4755"><i class="fa fa-github"></i></a>
				</div>
			</div>
		</div>

	</div>
	<!-- Add Pagination -->
	<div class="swiper-pagination"></div>
</div>
	<section class="w3l-clients" id="clients">
		<!-- /grids -->
		<!-- <div class="cusrtomer-layout py-5"> -->
		<div class="container py-lg-4">
			<!-- <div class="headerhny-title">
				<h3 class="hny-title">Our Testimonials</h3>
			</div> -->
			<!-- /grids -->
			<div class="testimonial-width">
				<div class="owl-clients owl-carousel owl-theme mb-lg-5">
					<div class="item">
						<div class="testimonial-content">
							<div class="testimonial">
								<blockquote>
										<q>Giao diện dễ xem, đặt phim nhanh và cảm giác rất hiện đại. Xem trên điện thoại cũng mượt nữa!</q>
								</blockquote>
								<div class="testi-des">
										<div class="test-img">
											<img src="https://vcdn1-vnexpress.vnecdn.net/2022/02/09/truonggiang-2195-1628235347-4675-1644389905.jpg?w=680&h=0&q=100&dpr=2&fit=crop&s=x_e016qTO1D7B0aNHa-80g" class="img-fluid" alt="Trường Giang">
									</div>
									<div class="peopl align-self">
											<h3>Trường Giang</h3>
										<p class="indentity">Thái Bình</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="testimonial-content">
							<div class="testimonial">
								<blockquote>
										<q>Kho phim đa dạng, cập nhật nhanh và trải nghiệm xem khá cuốn. Một website rất phù hợp cho mọt phim.</q>
								</blockquote>
								<div class="testi-des">
										<div class="test-img">
											<img src="https://images2.thanhnien.vn/528068263637045248/2026/1/22/edit-thooi213845-17690486992671276048616.jpeg" class="img-fluid" alt="Trấn Thành">
									</div>
									<div class="peopl align-self">
											<h3>Trấn Thành</h3>
										<p class="indentity">Hà Nội</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="testimonial-content">
							<div class="testimonial">
								<blockquote>
										<q>Bố cục rõ ràng, dễ sử dụng và phù hợp với nhiều độ tuổi. Xem phim giải trí rất tiện lợi.</q>
								</blockquote>
								<div class="testi-des">
										<div class="test-img">
											<img src="https://vcdn1-vnexpress.vnecdn.net/2022/02/09/xuan-bac-2284-1628826126-6779-1644389619.jpg?w=680&h=0&q=100&dpr=2&fit=crop&s=weGYSyrBLdVUwrptkpTPmg" class="img-fluid" alt="Xuân Bắc">
									</div>
									<div class="peopl align-self">
											<h3>Xuân Bắc</h3>
										<p class="indentity">Cà Mau</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="testimonial-content">
							<div class="testimonial">
								<blockquote>
										<q>Tốc độ tải phim nhanh, bố cục đẹp và rất dễ tìm những bộ phim đang hot.</q>
								</blockquote>
								<div class="testi-des">
										<div class="test-img">
											<img src="https://static.wikia.nocookie.net/marvelcentral/images/9/97/Tony-Stark.jpg/revision/latest/scale-to-width-down/270?cb=20130429010603" class="img-fluid" alt="Hoàng Châu">
									</div>
									<div class="peopl align-self">
										<h3>Hoàng Châu</h3>
										<p class="indentity">Hai Củ Lạc</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="testimonial-content">
							<div class="testimonial">
								<blockquote>
										<q>Mình thích cách sắp xếp danh mục phim ở đây, nhìn chuyên nghiệp và cực kỳ tiện khi sử dụng.</q>
								</blockquote>
								<div class="testi-des">
										<div class="test-img">
											<img src="https://upload.wikimedia.org/wikipedia/commons/1/14/Deadpool_2_Japan_Premiere_Red_Carpet_Ryan_Reynolds_%28cropped%29.jpg" class="img-fluid" alt="Vũ Trường">
									</div>
									<div class="peopl align-self">
										<h3>Vũ Trường</h3>
										<p class="indentity">Thịt chó Cổng chào</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="testimonial-content">
							<div class="testimonial">
								<blockquote>
										<q>Website mang lại cảm giác hiện đại, xem phim ổn định và trải nghiệm người dùng khá tốt.</q>
								</blockquote>
								<div class="testi-des">
										<div class="test-img">
											<img src="https://static.wikia.nocookie.net/marvelcinematicuniverse/images/2/2f/Tom_Holland.jpg/revision/latest/scale-to-width-down/1000?cb=20220213015022" class="img-fluid" alt="Tom Holland">
									</div>
									<div class="peopl align-self">
										<h3>Tom Holland</h3>
										<p class="indentity">Mỹ</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /grids -->
		</div>
	</section>

		<footer class="w3l-footer">
			<section class="footer-inner-main">
				<div class="footer-hny-grids py-5">
					<div class="container py-lg-4">
						<div class="text-txt">
							<div class="right-side">
								<div class="row footer-links">
									<div class="col-md-3 col-sm-6 sub-two-right mt-5">
										<h6>About Us</h6>
										<ul>
											<li><a asp-controller="Home" asp-action="Index">Home</a></li>
											<li><a asp-controller="Home" asp-action="Movies">Movies</a></li>
											<li><a asp-controller="Home" asp-action="About">About</a></li>
											<li><a asp-controller="Home" asp-action="Contact_Us">Contact</a></li>
										</ul>
									</div>

									<div class="col-md-3 col-sm-6 sub-two-right mt-5">
										<h6>Connect With Us</h6>
										<ul>
											<li>
												<a href="https://www.facebook.com/thangrhino475"><span class="fa fa-facebook" aria-hidden="true">     Nguyễn Trọng Thăng</span></a>
											</li>
											<li>
												<a href="https://github.com/julytrongthang4755/VPT_Movie_Box"><span class="fa fa-github" aria-hidden="true">    Nguyễn Trọng Thăng</span></a>
											</li>
											<li>
												<a href="https://www.instagram.com/july4th_05"><span class="fa fa-instagram" aria-hidden="true">     Nguyễn Trọng Thăng</span></a>
											</li>
										</ul>
									</div>

									<div class="col-md-3 col-sm-6 sub-two-right mt-5">
										<h6>Location</h6>
										<p>
											Head Office Address:<br /> 1st Floor, No. 234 Hoang Quoc Viet Street,Nghia Do Ward, Hanoi, Vietnam.
										</p><br />
										<h6>StarBug Joint Stock Company</h6>
										<p>
											Business Registration Certificate No.0123456789
										</p>
									</div>

									<div class="col-md-3 col-sm-6 sub-two-right mt-5">
										<h6>Customer Service</h6>
										<p>
											Hotline: 1000 0001 <br /> Working Hours: 8:00 AM – 12:00 PM (Including Holidays)<br />
											Support Email: nguyentrongthang938@gmail.com .
										</p>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="below-section">
					<div class="container">
						<div class="copyright-footer">
							<div class="columns text-lg-left">
								<p>&copy; 2026 StarBugCinema. All rights reserved</p>
							</div>
						</div>
					</div>
				</div>
				<!-- move top -->
				<button onclick="topFunction()" id="movetop" title="Go to top">
					<span class="fa fa-arrow-up" aria-hidden="true"></span>
				</button>
				<script>
									// When the user scrolls down 20px from the top of the document, show the button
									window.onscroll = function () {
										scrollFunction()
									};

									function scrollFunction() {
										if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
											document.getElementById("movetop").style.display = "block";
										} else {
											document.getElementById("movetop").style.display = "none";
										}
									}

									// When the user clicks on the button, scroll to the top of the document
									function topFunction() {
										document.body.scrollTop = 0;
										document.documentElement.scrollTop = 0;
									}
				</script>
				<!-- /move top -->

			</section>
		</footer>
</body>

</cshtml>
<script src="~/js/jquery-3.3.1.min.js"></script>
<!-- stats -->
<script src="~/js/jquery.waypoints.min.js"></script>
<script src="~/js/jquery.countup.js"></script>
<script type="text/javascript" src='~/js/swiper.min.js'></script>
<script>
	$('.counter').countUp();
</script>
<!--/theme-change-->
<script src="~/js/theme-change.js"></script>
<script>
	const toggleSwitch = document.querySelector('.theme-switch input[type="checkbox"]');
	const currentTheme = localStorage.getItem('theme');

	if (currentTheme) {
		document.documentElement.setAttribute('data-theme', currentTheme);

		switchTextColor(currentTheme);

		if (currentTheme === 'dark') {
			toggleSwitch.checked = true;
		}
	}

	function switchTextColor(currTheme) {

		if (currTheme === 'light') {
			document.getElementById("swiper-container-h1").style.color = 'black';
			document.getElementById("details-h3-1").style.color = 'black';
			document.getElementById("details-h3-2").style.color = 'black';
			document.getElementById("details-h3-3").style.color = 'black';
			document.getElementById("details-h3-4").style.color = 'black';
			document.getElementById("details-h3-5").style.color = 'black';
			document.getElementById("details-h3-6").style.color = 'black';
		} else {
			document.getElementById("swiper-container-h1").style.color = 'white';
			document.getElementById("details-h3-1").style.color = 'white';
			document.getElementById("details-h3-2").style.color = 'white';
			document.getElementById("details-h3-3").style.color = 'white';
			document.getElementById("details-h3-4").style.color = 'white';
			document.getElementById("details-h3-5").style.color = 'white';
			document.getElementById("details-h3-6").style.color = 'white';
		}
	}
	toggleSwitch.addEventListener('change', switchTheme, false);
</script>
<script src="~/js/owl.carousel.js"></script>
<!-- script for banner slider-->
<script>
	$(document).ready(function () {
		$('.owl-team').owlCarousel({
			loop: true,
			margin: 20,
			nav: false,
			responsiveClass: true,
			autoplay: false,
			autoplayTimeout: 5000,
			autoplaySpeed: 1000,
			autoplayHoverPause: false,
			responsive: {
				0: {
					items: 2,
					nav: false
				},
				480: {
					items: 2,
					nav: true
				},
				667: {
					items: 3,
					nav: true
				},
				1000: {
					items: 4,
					nav: true
				}
			}
		})
	})
</script>


<script>
	var swiper = new Swiper('.swiper-container', {
		effect: 'coverflow',
		grabCursor: true,
		centeredSlides: true,
		slidesPerView: 'auto',
		coverflowEffect: {
			rotate: 50,
			stretch: 0,
			depth: 100,
			modifier: 1,
			slideShadows: true,
		},
		pagination: {
			el: '.swiper-pagination',
		},
	});
</script>
<script>
	$(document).ready(function () {
		$('.owl-three').owlCarousel({
			loop: true,
			margin: 20,
			nav: false,
			responsiveClass: true,
			autoplay: true,
			autoplayTimeout: 5000,
			autoplaySpeed: 1000,
			autoplayHoverPause: false,
			responsive: {
				0: {
					items: 2,
					nav: false
				},
				480: {
					items: 2,
					nav: true
				},
				667: {
					items: 3,
					nav: true
				},
				1000: {
					items: 6,
					nav: true
				}
			}
		})
	})
</script>
<!-- for tesimonials carousel slider -->
<script>
	$(document).ready(function () {
		$(".owl-clients").owlCarousel({
			loop: true,
			margin: 40,
			responsiveClass: true,
			responsive: {
				0: {
					items: 1,
					nav: true
				},
				736: {
					items: 2,
					nav: false
				},
				1000: {
					items: 3,
					nav: true,
					loop: false
				}
			}
		})
	})
</script>
<!-- script for owlcarousel -->
<!-- disable body scroll which navbar is in active -->
<script>
	$(function () {
		$('.navbar-toggler').click(function () {
			$('body').toggleClass('noscroll');
		})
	});
</script>
<!-- disable body scroll which navbar is in active -->

<!--/MENU-JS-->
<script>
	$(window).on("scroll", function () {
		var scroll = $(window).scrollTop();

		if (scroll >= 80) {
			$("#site-header").addClass("nav-fixed");
		} else {
			$("#site-header").removeClass("nav-fixed");
		}
	});

	//Main navigation Active Class Add Remove
	$(".navbar-toggler").on("click", function () {
		$("header").toggleClass("active");
	});
	$(document).on("ready", function () {
		if ($(window).width() > 991) {
			$("header").removeClass("active");
		}
		$(window).on("resize", function () {
			if ($(window).width() > 991) {
				$("header").removeClass("active");
			}
		});
	});
</script>

<script src="~/js/jquery-3.3.1.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>
		<script>
			$(document).ready(function () {
				// Toggle Dropdown
				$("#userDropdown").on("click", function (e) {
					$("#myDropdown").toggleClass("show");
					e.stopPropagation();
				});

				// Click ra ngoài thì đóng dropdown
				$(document).on("click", function (e) {
					if (!$(e.target).closest('#login_section').length) {
						$("#myDropdown").removeClass("show");
					}
				});
			});

			function openProfileModal() {
				$("#profileModal").fadeIn(300);
				$("#myDropdown").removeClass("show");
			}

			function closeProfileModal() {
				$("#profileModal").fadeOut(300);
			}

			// Đóng modal khi nhấn ra ngoài vùng trắng
			window.onclick = function(event) {
				let modal = document.getElementById("profileModal");
				if (event.target == modal) {
					closeProfileModal();
				}
			}

			function changePassword() {
				const oldPw = $("#old-pass").val();
				const newPw = $("#new-pass").val();
    
				// Lấy Token để gửi lên server (tránh lỗi 400)
				const token = $('input[name="__RequestVerificationToken"]').val();

				if (!oldPw || !newPw) {
					alert("Vui lòng nhập đầy đủ mật khẩu cũ và mới!");
					return;
				}

				// Gửi yêu cầu AJAX lên Controller
				$.ajax({
					url: '/Home/ChangePassword',
					type: 'POST',
					data: {
						__RequestVerificationToken: token, 
						oldPassword: oldPw,
						newPassword: newPw
					},
					success: function (res) {
						if (res.success) {
							alert(res.message);
							closeProfileModal();
							// Xóa trắng ô nhập sau khi thành công
							$("#old-pass").val("");
							$("#new-pass").val("");
						} else {
							// Hiển thị lỗi từ Backend (ví dụ: mật khẩu cũ sai)
							alert(res.message);
						}
					},
					error: function () {
						alert("Có lỗi xảy ra khi kết nối với máy chủ.");
					}
				});
			}
		</script>


